@page "/productos"
@* @using Delalba.Components.Entities; *@
@using Delalba.Components.Pages.Productos;
@rendermode InteractiveServer

<h1> Productos </h1>

@* <label>
    Nombre
    <input type="text" @bind="Nombre" />
</label>

<label>
    Precio (en pesos)
    <input type="number" @bind="Precio" />
</label>

@if (EstamosModificando == true)
{
    <button type="button" class="btn btn-primary" @onclick="GuardarCambios">GuardarCambios</button>
}
else
{
    <button type="button" class="btn btn-primary" @onclick="Agregar">Agregar Película</button>
}
<br />

@if (MensajeError != "")
{
    <label style="color: red">Error al crear una película: @MensajeError</label>
} *@

<ProductoModal @ref="modal" Data="ProductoModificando" GuardarEventCallback="Guardar" Modificando ="EstamosModificando"/>

<br />

<h3>Listado de Productos</h3>

<button type="button" class="btn btn-primary" @onclick="NuevoProducto">Nuevo</button>

<br />
<br />

<ProductosListado Datos="ProductosList" MostrarBotones="true" ModificarEvent="Modificar" EliminarEvent="Eliminar">

</ProductosListado>

@code {
    
}
