@rendermode InteractiveServer

<button type="button" class="btn btn-primary" @onclick="OpenCarritoEvent"> Carrito </button>



@code {
    [Parameter]
    public EventCallback OpenCarritoEvent { get; set; }

    //Nada de este scrpit se usa
}
