@page "/"
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Tienda de Productos!</h1>

<AuthorizeView>
    <Authorized>
        <button @onclick="IrMaestro"> Ir a Maestro</button>
    </Authorized>
</AuthorizeView>

@code {
    private void IrMaestro(){
        navigation.NavigateTo("productos");
    }
}